# SMTP settings for the contact form API
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=sbhis9886@gmail.com
EMAIL_PASS=ywke dlyl nbra gwxy
EMAIL_FROM="Abhishek S <sbhis9886@gmail.com>"
EMAIL_TO=abhishek.s9886@gmail.com